.hxq-component-btn{
	display:inline-flex;
	width:100%;

	align-items:center;
	flex-direction:row;
	flex-wrap:nowrap;

}
.hxq-btn-item{
	height:40px;border-radius:5px;	align-items:center;display:flex;flex-grow:1;	justify-content:center;
}
